.container {
  width: 100%;
}
.video-container {
  z-index:-1;
  height: 100%;
  min-width: 50%;
  height: 0;
  object-fit:cover;
}
.video-container  .wrapper__video{
  left:0;
  min-height:50%;
  min-width: 50%;
  position: absolute;
  top: 0;
  width: auto;
  z-index: -1;
}

.home__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.home__page__svg {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}

.home__page__svg .main__svg {
  -webkit-transition: -webkit-transform 1s ease-in-out 0s;
  transition: -webkit-transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  -webkit-animation-name: upDown;
  animation-name: upDown;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.home__page__svg .usbnex__icon {
  position: absolute;
  top: 110px;
  left: 430px;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s,
    -webkit-transform 1s ease-in-out 0.5s;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-name: upDown;
  animation-name: upDown;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  width: 15%;
}

.home__page__content {
  width: 30%;
  z-index: 10;
}

.home__page__content .home__page__content__tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__page__content .home__page__content__button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1.3rem;
  margin-top: 4rem;
  width: 100%;
  cursor: pointer;
}

.home__page__content .home__page__content__button__container svg {
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.home__page__content .home__page__content__button__container:hover svg {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.home__page__content .home__page__content__social {
  padding: 60px 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 1.5rem;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media (max-width: 786px) {
  .home__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .home__page__content {
    width: 100%;
  }
  .home__page__content h2 {
    font-size: 30px !important;
  }
}
/*# sourceMappingURL=LandingPage.css.map */
