.ryval {
  margin-top: 3rem;
  margin-bottom: 200px;
  .ryval__headline {
    line-height: 30px;
    width: 70%;
    margin: auto;
  }
}

.ryval__description {
  margin-top: 10rem;
  display: flex;
  gap: 2.3rem;
  h2 {
    margin-bottom: 2rem;
  }
  p {
    line-height: 30px;
  }
  img {
    transition: transform 1s ease-in-out 0.5s;
    animation-duration: 1.8s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .ryval__btn {
    margin-top: 10rem;
    height: 61px;
    width: 253px;
    margin-bottom: 2rem;
  }
  .ryval__description__social {
    display: flex;
    gap: 1.7rem;
  }
}
