{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "not dead"
          ]
        }
      }
    ]
  ]
}