.connectionPromblemPage__content__title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    svg {
      width: 40px;
    }
  }
  
  .connectionPromblemPage__content__userInfo {
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
  
  .connectionPromblemPage__content__form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      width: 432px;
      height: 64px;
      border-width: 2px;
      border-style: solid;
      display: flex;
      align-items: center;
    }
  }
  
  .connectionPromblemPage__svgs {
    margin-top: -100px;
    transition: transform 1s ease-in-out 0.5s;
    animation-duration: 1.8s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    pointer-events: none;
  }
  
  .connectionPromblemPage__help {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    svg {
      fill: white;
      width: 20px;
    }
  }
  