.success__page {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.success__page__svg {
  position: relative;
  .success__svg {
    transition: transform 1s ease-in-out 0s;
    animation-duration: 2.2s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .usbnex__icon {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -80px;
    mix-blend-mode: lighten;
    box-shadow: -271px -541px 16px #000000;
    transition: transform 1s ease-in-out 0.5s;
    animation-duration: 1.8s;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.success__page__content {
  .success__page__content__check__email {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
}

.success__page__follow__discord {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  p {
    transform: translateY(-8px);
  }
}
