* {
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease;
}

a:hover {
  color: #fff;
}

li {
  list-style: none;
}

.container {
  padding: 1rem 8rem;
}

@media (max-width: 1366px) {
  .container {
    padding: 1rem 3rem;
  }
}
